import request from '@/utils/request'

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/list',
    method: 'get',
    params: query
  })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: 'get'
  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'post',
    data: data
  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'put',
    data: data
  })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: 'delete'
  })
}
#if($enableImport)

// 导入${functionName}
export function import${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}/importData',
    method: 'post',
    data: data
  })
}

// 下载${functionName}导入模板
export function importTemplate${BusinessName}() {
  return request({
    url: '/${moduleName}/${businessName}/importTemplate',
    method: 'post',
    responseType: 'blob'
  })
}
#end
